* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

body {
  background: #eff3f6;
}

section {
  margin-bottom: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h5 {
  font-size: 0.75em;
}

a {
  font-size: 1.15em;
}

/* Padding */

.p-0 {
  padding: 0;
}

.p-t-10 {
  padding-top: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-l-30 {
  padding-left: 30px;
}

/* Margins */

.m-0 {
  margin: 0;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 15px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-60 {
  margin-bottom: 60px;
}

/* Font Size */

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-32 {
  font-size: 32px;
}

.font-40 {
  font-size: 40px;
}

.font-3em {
  font-size: 3em;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Columns  */

/* .c-sm-5,,
.c-sm-7,
.c-sm-12, */
.c-sm-6,
.c-md-6,
.c-md-12,
.c-12,
.c-lg-4,
.c-lg-5,
.c-lg-6,
.c-lg-7,
.c-xl-4,
.c-xl-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  line-height: 30px;
  padding: 4px 10px;
  border: none;
  cursor: pointer;
}

.btn-round {
  border-radius: 50%;
}

.btn-block {
  width: 100%;
  display: block;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-leaf {
  background-color: #28a745;
}

.btn-info {
  background-color: #007bff;
}

.btn-gold {
  background-color: #ff9900;
}

.btn-gold-r {
  border: 1px solid #ff9900;
  background-color: #ffffff;
  color: #ff9900;
}

.btn-disabled {
  cursor: not-allowed;
  opacity: 0.67;
}

.btn-danger,
.btn-info,
.btn-leaf,
.btn-gold {
  color: #ffffff;
  transition: ease .9s;
}

.btn-leaf:hover {
  background-color: #037b1e;
}

.btn-info:hover {
  background-color: #165aa2;
}

.btn-danger:hover {
  background-color: #9a0a18;
}

.mobile-btn,
.close-btn {
  display: none;
}

.modal-btn {
  display: block;
  border: none;
  z-index: 1;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  background-color: #dc3545;
  color: #ffffff;
  height: 40px;
  width: 40px;
  font-size: 1.5em;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 5px;
}

.card-wrap {
  padding: 35px;
}

.card svg {
  width: 200px;
  height: 160px;
}

.t-white {
  color: #ffffff;
}

.t-center {
  text-align: center;
}

header.header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 4;
  transition: 0.5s ease-in-out;
}

header nav.navbar {
  margin: 20px 5% 1% 17%;
  /* border: 1px solid red; */
}

header>h1 {
  float: left;
  padding: 4px 72px;
  margin: 0;
  font-family: 'Dancing Script', cursive;
}

.onscroll {
  background-color: #0f0f12;
  box-shadow: 1px 3px 6px #333;
}

.section-header {
  margin: 45px 0 35px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  /* border: 1px solid blue; */
  height: inherit;
  justify-content: flex-end;
  /* width: 20%; */
  align-items: center;
}

nav ul>li>a {
  font-size: 1em;
  margin-right: 50px;
  text-decoration: none;
  transition: .5s ease;
}

nav ul>li>a.active,
nav ul>li>a:hover {
  color: #ff9900;
}

.hero {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=847&q=80");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.hero-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.hero-text p:nth-child(3) {
  padding-bottom: 20px;
}

.hero-text button {
  width: 163px;
  height: 54px;
}

.content-margin {
  padding: 0 4%;
}

.slides {
  display: flex;
  min-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  list-style-type: none;
  scroll-snap-type: x mandatory;
  padding-left: 5px;
}

.slides::-webkit-scrollbar {
  height: 5px;
  background-color: #eee;
}

.slides::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #aaa;
}

.slides-contain {
  /* border: 0.06em solid black; */
  margin: 26px 12px 4px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 4px 9px 14px #999;
  scroll-snap-align: start;
  height: fit-content;
}

.slide,
.brands-slide {
  position: relative;
  border-radius: inherit;
}

section.brand {
  height: 226px;
}

.slide {
  width: 284px;
}

.brands-slide {
  width: 200px;
}

.slide-img,
.brands {
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.slide-img {
  background-image: url("https://pictures.dealer.com/v/victorytoyotascioncanton/0643/7d607a614ba466cb09182cdd96f5e6e7x.jpg?impolicy=resize&w=650");
  height: 200px;
  background-size: cover;
  background-position: top;
}

.brands {
  background-image: url("https://www.carlogos.org/logo/Toyota-logo.png");
  height: 130px;
  background-size: contain;
  background-position: top;
}

.slide-text {
  padding: 0 18px 13px;
}

.vehicle-price {
  font-size: 2em;
}

.steps {
  width: 200px;
}

#contact-form {
  display: inline-grid;
  /* padding-left: 46px; */
}

#contact-form input,
#contact-form textarea {
  border: 1px solid #eee;
  padding-left: 10px;
  margin-bottom: 10px;
}

#contact-form input {
  border-radius: 50px;
  height: 43px;
}

#contact-form textarea {
  border-radius: 22px;
  padding: 14px;
  resize: none;
}

.contact-svg svg {
  width: 85%;
  height: 290px;
}

.contact-form-wrap {
  margin: 0 auto;
  position: relative;
}

.control-input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
  border: 2px solid #ddd;
}

.control-input:focus,
.checkbox-input:focus {
  outline: 2px solid #3074ec;
}

.modal {
  display: none;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 60px;
}

.wrapper {
  margin: 7.5% auto;
  max-width: 500px;
  position: relative;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Footer */
.footer {
  position: absolute;
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
  right: 0;
  left: 0;
  color: #2d3b48;
  text-align: center;
  padding: 20px 30px;
}

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
  .contact-form-wrap {
    max-width: 300px;
  }

  #contact-form input,
  #contact-form textarea {
    width: 300px;
  }

  .contact-svg {
    text-align: center;
  }

  header>h1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

@media only screen and (max-width: 480px) {
  .wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
  .c-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  .c-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .c-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  #contact-form input,
  #contact-form textarea {
    width: 43em;
  }

  .contact-form-wrap {
    max-width: 37em;
  }

  .contact-svg {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .card-wrap {
    padding: 24px;
  }

  .brands-slide {
    width: calc(707px/5.999);
  }

  /* .card-content:nth-child(2) {
    margin: 0 auto;
    max-width: 56%;
    text-align: left;
  } */

  .mobile-btn {
    display: block;
    width: 48px;
    height: 50px;
    margin: 5px;
    border-radius: 12px;
    background: #3cab94;
    font-size: 1.5em;
    border: none;
    color: #ffffff;
    float: right;
  }

  .close-btn {
    border: none;
    z-index: 1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #dc3545;
    color: #ffffff;
    height: 40px;
    width: 40px;
    font-size: 1.5em;
  }

  .nav-list {
    display: block;
    position: fixed;
    right: -243px;
    background-color: #111111;
    top: 0;
    bottom: 0;
    width: 190px;
    padding: 34px 10px;
    transition: .5s ease;
  }

  nav ul>li>a {
    display: block;
    padding: 13px;
    width: 100%;
    color: #b9b8b8 !important;
    transition: .3s ease;
  }

  nav ul>li>a:hover {
    color: #ffffff !important;
  }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  .c-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .c-lg-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }

  .c-lg-5 {
    flex: 0 0 44%;
    max-width: 44%;
  }

  .c-lg-7 {
    flex: 0 0 56%;
    max-width: 56%;
  }

  .brands-slide {
    width: calc(942px/7.0);
  }

  #contact-form input,
  #contact-form textarea {
    width: 28em;
  }

  .card-content {
    text-align: left;
  }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  .c-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .c-xl-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }

  .content-margin {
    padding: 0 10%;
  }

  .brands-slide {
    width: calc(1152px/6.8);
  }

  .contact-form-wrap {
    max-width: 20em;
  }
}